body{
    padding: 0%;
    margin: 0%;
}
.TaskHeader{
    background-color: goldenrod;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    position: fixed;
    width: 100%;
    top:0;
}
.TaskContent{
    width: 96%;
    margin: 8px 0px 0px 0px;
}
.TaskContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 125px;
    margin-top: 163px;
}